html {
  --dile-primary-color: #f3f3ae;
  --dile-secondary-color: #7BB93D;

  --dile-nav-background-color: var(--secondary-color);
  --dile-nav-column-gap: 0.25rem;
  
  --dile-hamburger-padding-x: 0.15rem;
}