dile-nav span.site-name a {
  display: flex; 
  align-items: center;
  font-size: 1.1rem;
}
dile-nav a {
  text-decoration: none;
}
dile-nav img {
  position: relative;
  top: 3px;
  height: 40px;
  margin-right: 0.5rem;
}